@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif */

    h1 {
      border: 3px solid #333;   
      padding: 10px 20px;       
      display: inline-block;    
      color: #333;              
      transition: all 0.3s ease;
    }

    h1:hover {
      color: #c49292;              
      background-color: #a44b4b;   
      border-color: #353131;      
    }
 

     p {
        display: flex;
        margin:100 px;
        padding: 50 px;
        color: rgb(44, 19, 237);
        font-size: calc(1.375rem + 1.5vw);
        font-family: "Inter", sans-serif


}
.foto {
     display: flex;
    margin: 200px;
    padding: 100 px;
}